.mainheading{
    font-size: 40px;
    font-weight: 700;
}
.heading20{
    font-size: 20;
    font-weight: 600;
}
.heading32{
    font-size: 32;
    font-weight: 700;
}
.font16 {
    font-size: 16;
    font-weight: 400;
}
.font21{
    font-size: 21;
    font-weight: 400;
}
.font20{
    font-size: 20;
    font-weight: 600;
}
.font14{
    font-size: 14;
    font-weight: 600;
}