.openBtn {
    height: 42px;
    width: max-content;
}

.navundernavbar a {
    text-decoration: none !important;
    color: white;
    padding: 2rem;
}

.navundernavbar {
    padding: 1rem;
}
.NavForm{
    border: 1px solid gray;
    border-radius: 40px;
    width: 100%;
}
.NavForm .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: transparent !important;
    background-clip: padding-box;
    border: 0 !important;
    border-radius: 0 !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.NavForm .input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: transparent !important;
    border:0 !important;
    border-radius: 0 !important;
}
.Footer {
    background-color: black;
}

 .Footer a{
  text-decoration:  none;
  color:white;
}